.footer {
    overflow: hidden;
    background-color: gray;
    position: fixed;
    bottom: 0;
    /* z-index: 1; */
    width: 100%;
    max-height: 50px;
}

.footer p {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}